body, html{
    height: 100%;
    margin: 0;
}

.loading-page {
    height: 100%;
    background-image: url("/IMG/Weather-Loading.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;


}