body, html{
    background-size: cover;
    height: 100%;
    margin: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("/img/weather-channel.svg");
    transition: background-image 1s ease-out;

}
.video-container{
    display:flex;
    justify-content: center;
    align-items: end;
    height: 61%;
}
.glass-container{
    display: none;
    justify-content: space-around;
    align-items: center;
    height: 600px;
}
.glass-rectangle {
    margin-top: 20px;
    width: 280px;
    height: 570px;
    background-color: rgba(255, 255, 255, 0.2);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 0 10px rgba(255,255,255, 0.5);
    border-radius: 50px;
}
.center-text {
    display: flex;
    text-align: center;
}
.location-container {
    display: none;
    background: transparent;
    justify-content: center;
    align-items: center;
    height: 20%;
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 0 10px rgba(255,255,255, 0.5);
    border-radius:60px;
}
.transparent-input {
    border: none;
    background: transparent;
    border-bottom: 2px solid #000;
    border-radius: 20px;
    color: #000;
    outline: none;
    width: 200px;
    padding: 10px;
    font-size: 18px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5); /* Drop shadow effect */
}

/* Style for input element on focus */
.transparent-input:focus {
    border-bottom: 2px solid #007bff; /* Change border color on focus */
}
.button-container {
    display: none;
    width: max-content;
    overflow: clip;
    position: static;
    cursor: pointer;
}

/* Style for the button image */
.button-container img {
    width: auto;
    height: 50px;
    object-fit: contain;
    transition: transform 0.2s ease; /* Add transition for smooth hover effect */
}

/* Style for the button container on hover */
.button-container:hover img {
    transform: scale(1.05); /* Scale up the image on hover */
    background-blend-mode: luminosity;
}

/* Style for the button container on active */
.button-container:active img {
    transform: translateY(2px); /* Add a slight vertical offset on click */
}
/*Weather reaction*/


