body, html{
    background-size: cover;
    height: 100%;
    margin: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("/IMG/weather-channel.svg");
    transition: background-image 1s ease;

}
.video-container{
    display:flex;
    justify-content: center;
    align-items: end;
    height: 61%;
}

